<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<table class="movies">
  <thead>
    <tr>
      <th scope="col" class="<% (@sort == 'title' && @dir == 'asc') ? 'sorted-asc' : (@sort == 'title' && @dir == 'desc' ? 'sorted-desc' : '') %>">
        <%= link_to "Title#{@sort=='title' ? (@dir=='asc' ? '^' : 'ᐯ') : ''}".html_safe,
                  movies_path(sort: "title", dir: (@sort=='title' && @dir=='asc') ? "desc" : "asc") %>
      </th>
      <th scope="col" class="<%= (@sort == 'rating' && @dir == 'asc') ? 'sorted-asc' : (@sort == 'rating' && @dir == 'desc' ? 'sorted-desc' : '') %>">
        <%= link_to "Rating#{@sort=='rating' ? (@dir=='asc' ? '^' : 'ᐯ') : ''}".html_safe,
                  movies_path(sort: "rating", dir: (@sort=='rating' && @dir=='asc') ? "desc" : "asc") %>
      </th>
      <th scope="col" class="<%= (@sort == 'release_date' && @dir == 'asc') ? 'sorted-asc' : (@sort == 'release_date' && @dir == 'desc' ? 'sorted-desc' : '') %>">
        <%= link_to "Release date#{@sort=='release_date' ? (@dir=='asc' ? '^' : 'ᐯ') : ''}".html_safe,
                  movies_path(sort: "release_date", dir: (@sort=='release_date' && @dir=='asc') ? "desc" : "asc") %>
      </th>
      <th scope="col">Actions</th>
  </tr>
</thead>

  <tbody>
    <% @movies.each do |m| %>
      <tr>
        <td><%= m.title %></td>
        <td><%= m.rating %></td>
        <td><%= m.release_date&.to_date %></td>
        <td class="actions">
          <%= link_to "Show this movie", m %>
          <%= link_to "Edit", edit_movie_path(m) %>
          <%= link_to "Destroy", m, data: { turbo_method: :delete, turbo_confirm: "Delete movie?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="4"><%= pluralize(@movies.size, "movie") %></td>
    </tr>
  </tfoot>
</table>

<p class="toolbar">
  <%= link_to "New movie", new_movie_path, class: "button" %>
</p>
